@model Rvnx.CRM.Core.Models.Contact.ContactMethod

@{
    ViewData["Title"] = "Edit Contact Info";
}

<h1>Edit Contact Info</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EntityId" />
            <input type="hidden" asp-for="EntityType" />

            <div class="mb-3">
                <label asp-for="Type" class="form-label"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<Rvnx.CRM.Core.Enumerations.ContactMethodType>()" class="form-select"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Value" class="form-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Label" class="form-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-controller="Contacts" asp-action="Details" asp-route-id="@Model.EntityId" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
