@model Rvnx.CRM.Core.DTOs.Contact.ContactMethodFormDto

@{
    ViewData["Title"] = "Edit Contact Info";
}

<h1>Edit Contact Info</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="ContactId"/>

            <div class="mb-3">
                <label asp-for="Type" class="form-label">Type</label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<Rvnx.CRM.Core.Enumerations.ContactMethodType>()" class="form-select" id="Type"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Value" class="form-control" id="Value" placeholder=" "/>
                <label asp-for="Value">Value</label>
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Label" class="form-control" id="Label" placeholder=" "/>
                <label asp-for="Label">Label</label>
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="d-grid gap-2 d-md-flex mt-4">
                <button type="submit" class="crm-btn-primary"><i class="bi bi-save" aria-hidden="true"></i>Save</button>
                <a asp-controller="Contacts" asp-action="Details" asp-route-id="@Model.ContactId" class="crm-btn-tertiary"><i class="bi bi-x-lg" aria-hidden="true"></i>Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(function () {
            $('#Type').select2({ width: '100%' });
        });
    </script>
}
