@model Rvnx.CRM.Core.DTOs.Base.NoteFormViewModel

@{
    ViewData["Title"] = "Add Note";
}

<h1>Add Note for @Model.EntityName</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EntityId"/>
            <input type="hidden" asp-for="EntityType"/>
            <input type="hidden" asp-for="EntityName"/>

            <div class="form-floating mb-3">
                <input asp-for="Title" class="form-control" id="Title" placeholder=" " autofocus/>
                <label asp-for="Title">Title</label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <textarea asp-for="Value" class="form-control" style="height: 100px" id="Value" placeholder=" "></textarea>
                <label asp-for="Value">Value</label>
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <div class="d-grid gap-2 d-md-flex mt-4">
                <button type="submit" class="btn btn-primary"><i class="bi bi-plus-lg me-2"></i>Add Note</button>
                <a asp-controller="Contacts" asp-action="Details" asp-route-id="@Model.EntityId" class="btn btn-secondary"><i class="bi bi-x-lg me-2"></i>Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
