@model Rvnx.CRM.Core.DTOs.Contact.FactFormDto

@{
    ViewData["Title"] = "Add Fact";
}

<h1>Add Fact</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EntityId"/>
            <input type="hidden" asp-for="EntityType"/>

            <div class="form-floating mb-3">
                <input asp-for="Category" class="form-control" id="Category" placeholder=" " autofocus/>
                <label asp-for="Category">Category</label>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Value" class="form-label">Value</label>
                <textarea asp-for="Value" id="Value" placeholder="Enter value..."></textarea>
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="d-grid gap-2 d-md-flex mt-4">
                <button type="submit" class="btn btn-primary"><i class="bi bi-plus-lg me-2"></i>Add</button>
                <a asp-controller="Contacts" asp-action="Details" asp-route-id="@Model.EntityId" class="btn btn-secondary"><i class="bi bi-x-lg me-2"></i>Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ ViewData["EasyMDEElementId"] = "Value"; ViewData["EasyMDEMinHeight"] = "150px"; }
    @{ await Html.RenderPartialAsync("_EasyMDEScripts"); }
}
